[2015-07-03 17:47] junhanamaki opened #2 "Question regarding expiration"
Hi.

We've been playing with jwt and we've noticed that in your library, you only expire the token if "leeway" is not nil:

         if leeway ~= nil and not jwt_obj["reason"] then

Shouldn't the token be expired regardless of "leeway" being present or not, if "exp" is present in the payload of the token?

Thanks for your attention.

[2015-07-04 08:57] SkyLothar commented on #2
thank you for your suggestion.

i've made a stupid dedication about this odd default behavior.
it's better to have 0 as default leeway when `exp` or `nbf` presents.

checkout the new 0.1.1 version~ it's fixed!

[2015-07-04 08:58] #2 closed

[2015-07-06 09:28] junhanamaki commented on #2
Hi. Just wanted to say thanks for the effort and the quick fix.

[2015-07-06 20:36] marcusmartins opened #3 "Tag releases"
Hi - I was wondering what do you think about tagging the releases? It would make easier/more explicit to request a specific version when deploying/building lua-resty-jwt.

It would give you a release page within Github to easily refer to/download versions.

[2015-07-07 03:28] SkyLothar commented on #3
cool :sunglasses:  ! thank you for your advice @marcusmartins

release v0.1.1 is available now

and i'll add tag for feature releases.

[2015-07-07 03:28] #3 closed

[2015-09-06 04:28] codyhazelwood opened #4 "Always get "internal error" for reason"
What does it mean when the library returns "internal error" for the reason?

I'm testing with a secret of `tacos` and following JWT
[code]

Testing on [jwt.io](jwt.io) shows that the token is fine and the secret works.  Here's my lua code (running in NGINX)
[code]
And the output is
[code]

Any ideas?  The payload is parsed correctly.

[2015-09-06 10:46] SkyLothar commented on #4
i'll look at it later, sorry for the trouble

[2015-09-06 11:28] SkyLothar commented on #4
It works fine on my machine.
Do you have [lua-resty-hmac](https://github.com/jkeys089/lua-resty-hmac) installed?

[2015-09-06 15:26] codyhazelwood commented on #4
It looks like I had the wrong resty-hmac installed, which is why it didn't flat out crash.  Thanks for the quick response!

[2015-09-06 15:26] #4 closed

[2015-10-12 13:22] freman opened #7 "no start line - RS256"
Greetings.

I'm not sure if it's something I'm completely borking up, but I can't see another way to do it.

We use your library to send JWT's from our frontends to our backends out of paranoia - this is working great, php has no trouble decoding these.

I am now trying to use your library to accept a JWT from a different provider (encoded with go-jwt)

This is the public key
[code]

This is the t

[2015-10-12 14:03] SkyLothar commented on #7
got this, i'll look at it in few hours.

[2015-11-10 14:45] rohitjoshi opened #8 "resty.hmac (lua-resty-jwt) returns nil signature"
I just wanted to bring to you attention. Should resty.string/sha1 be used?

https://github.com/jkeys089/lua-resty-hmac/issues/2

[2015-11-10 21:05] rohitjoshi commented on #8
This issues is caused by older version of openssl.

[2015-11-10 21:05] #8 closed

[2015-12-01 17:41] rohitjoshi opened #9 "Enhancement: Support for Encrypted token (JWE)"
Any plan to support for JSON Web Encryption (JWE)?

https://tools.ietf.org/html/rfc7516

[2015-12-01 18:02] SkyLothar commented on #9
Great idea!
I'm current stuck in another project. But I think I can make JWE supported before new year's day.
Of cause, any PR will be GREAT.

[2015-12-02 17:55] rohitjoshi commented on #9
Thanks.  I have added support for A128CBC_HS256 and will submit a PR.

[2015-12-02 17:56] SkyLothar commented on #9
:+1:

[2015-12-05 05:00] rohitjoshi commented on #9
Submitted PR https://github.com/SkyLothar/lua-resty-jwt/pull/10. Let me know if any changes required.

[2015-12-21 20:09] rohitjoshi commented on #9
PR is merged.

https://github.com/SkyLothar/lua-resty-jwt/commit/72af76af887937eaf3758ad17f1dad1e48a64da8

Closing this issue.

[2015-12-21 20:09] #9 closed

[2016-02-05 15:36] tanica commented on #7
Has it been resolved? I am getting the same reason "no start line". If I remove the start line of the key, I get "wrong tag"

[2016-02-06 12:42] tanica commented on #7
For all the poor lost souls out there, who were brought up here by google search: no start line - in this case I needed a certificate file rather than a public key. Turn your public key in certificate and you are good to go!

[2016-02-06 14:41] SkyLothar commented on #7
thanks @tanica !

[2016-02-08 12:48] swynter-ladbrokes commented on #7
We knew this was a solution, but with other libraries (and indeed jwt.io) it's not a requirement.

[2016-02-19 00:10] nicklathe commented on #7
Is there an example of how people here accomplished this? I have the same problem as @freman. I'd love to know how @tanica went about creating a certificate file from a public key. Also, how are you passing in that file to the verify function? Are you reading it with io.read and saving that to a variable? Thanks.

[2016-02-19 04:35] bdmesh commented on #7
@tanica @swynter-ladbrokes  @SkyLothar  - I'm working with Nick, so just adding more to his question as we've found ourselves a bit up against the clock... we've tried all kinds of different openssl calls to try to generate a crt from a pem, but are seeing the same "no start line" error from openssl when we try that.  And we've been searching online for how-to's but can't seem to find anything tha

[2016-02-19 14:34] atanasova commented on #7
So I created a shell script which I put these commands, because I needed some different types. Here is what I had:

#!/bin/bash
KEYNAME=$1
openssl genrsa -out $KEYNAME.pem 2048
openssl rsa -in $KEYNAME.pem -outform PEM -pubout -out $KEYNAME.pub
openssl pkcs8 -topk8 -inform PEM -outform DER -in $KEYNAME.pem -out $KEYNAME.pkcs8 -nocrypt
openssl rsa -in $KEYNAME.pem -pubout -outform DER -out $KEYNAME

[2016-03-17 15:21] theganyo commented on #7
Is there any movement on this? Or has anyone been able to convert a PEM public key to a format accepted by this library?

[2016-03-17 15:28] atanasova commented on #7
Both tanica & atanasova users are me, I posted the reply with my work account. The shell script above should work! good luck!

[2016-03-17 15:39] theganyo commented on #7
@atanasova Thanks! That's a great script to create a new cert and all the associate assets and that will work well for testing.

However, unless I'm missing something, I don't think that solves the issue of converting an existing PEM to a certificate that can be used. I need to use a PEM public key I've been given. So either I need to convert it to a format that this library takes or I need to mod

[2016-03-17 15:52] atanasova commented on #7
unfortunately no, it won't work with PEM. You can use openssl to convert to Certificate. Unfortunately this is the only Lua lib I found that will validate RSA keys

[2016-03-24 20:23] WuTheFWasThat commented on #7
i ran into this problem as well - luckily i had access to the private key and could generate a certificate.  I do think the library should accept a public key, though.  it looks like all it does with the certificate is get a public key from it: https://github.com/SkyLothar/lua-resty-jwt/blob/master/lib/resty/evp.lua.  so maybe the fix isn't too bad?

[2016-03-24 21:13] theganyo commented on #7
I've made some mods to make this work you are welcome to try.
https://github.com/theganyo/lua-resty-jwt

Just use as normal but pass in your public_key (PEM string):

  local jwt_obj = jet:verify(public_key, jwt_token)

It has worked for me, but I haven't spent much time testing it.

[2016-03-29 20:17] clwang commented on #7
@theganyo - I've pulled down your fork since I need to do some verification of the JWT using the PEM file. From what I have tested it seems to work.

[2016-03-29 20:25] theganyo commented on #7
@clwang Great! Thanks for verifying!

[2016-04-04 11:23] dkatona opened #12 "wrong tag - RS256"
Hi,

I have the following JWT token (generated from [keycloak](http://keycloak.jboss.org/) ):

eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI5ZTVlYTkxYS05ZDk0LTQ2M2YtYjVlMi00Y2U0YWRjMzM2MzYiLCJleHAiOjE0NTgyOTQ0NzcsIm5iZiI6MCwiaWF0IjoxNDU4Mjk0MTc3LCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwODAvYXV0aC9yZWFsbXMvVGVzdCIsImF1ZCI6IlRlc3RDbGllbnQiLCJzdWIiOiIzYzFmMjBkOS1kNDgxLTQzN2QtOWZlOC03YzU0YzZhNDY1ZTYiLCJ0eXAiOiJCZWFyZXIi

[2016-04-06 06:02] jsmilani opened #15 "Plans for luarocks?"
I am fairly new to Lua and coming from Ruby it is hard to live without package managers. Any chance you can add the rockspec and publish to luarocks?

Eg.
[code]

[2016-04-06 11:24] SkyLothar commented on #15
Hmm...
I was assumed that most of the users use this lib with openresty and have no luarock installed.
Sure, I'll add this lib to luarocks.

[2016-04-06 19:23] jsmilani commented on #15
Thank you for being accommodating.

Excuse my ignorance, but I have yet to see any best practices on how to add external libraries to openresty. There are a large number available built-in to openresty, but if you want something else then you must either use luarocks, custom makefiles/dockerfiles or manually copy the files into your own repo. I happen to be using luarocks and Dockerfiles together.

[2016-04-07 10:13] fermaem opened #17 "Enforcing a stricter kind of validation"
Would you be against a stricter kind of jwt validation?

Currently when the `exp`|`nbf` claim are not expressed as a number, they're silently ignored.

Two options:

 - Make it stricter by design and fail the verification of the jwt with a meaningful message when exp isn't a number
 - Allow an optional stricter kind of validation (through `jwt:enforce_strict_validation(bool)` for instance)

[2016-04-07 10:14] fermaem commented on #17
FWIW, I'd be happy to work on a PR to make this happening :wink:

[2016-04-07 10:35] SkyLothar commented on #17
cool. :+1:
by default, it's strict validation.
but you can turn it down by calling `jwt:loose_validation(true)`.

any ideas?

[2016-04-07 12:44] dkatona commented on #12
I found out that certificate needs to be supplied (and properly formatted - I was supplying it originally on one line and got base64 bad decode). So I changed the public key to certificate, formatted it properly and it seems to work, so I am closing this issue, sorry for opening it :)

[2016-04-07 12:44] #12 closed

[2016-04-07 19:38] #17 closed

[2016-04-18 21:08] toonetown opened #20 "Release version 0.1.3"
Are there plans to release version 0.1.3 (which has the validation options in it), or are there other features waiting before a release happens?

[2016-04-19 01:15] SkyLothar commented on #20
Yes, going to release 0.1.3(0.2.0?) at this weekend.
Really busy in past few days, thank you for your patient.

[2016-04-19 20:15] toonetown opened #22 "Add support for providing a function as the key"
It would be helpful to be able to provide a function *or* a string as the key to the verify functions.  Such a function would be passed the value of `kid` from the header as a single parameter, and would return a string to use as the key.  This would simplify, for example, using a hash table or a Redis database for looking up keys based off of the `kid` parameter.

I actually have some code that d

[2016-04-19 20:19] toonetown opened #23 "Verification of claims"
The way that the "auth" function of the code at https://github.com/auth0/nginx-jwt is pretty nice.  It seems to me that this would be a nicer (and more flexible) alternative to the verification code that is currently being worked on.

Basically, you specify a table with claims you want to verify.  Existence of a claim key requires the presence of it.  The value of the claims can either be a string

[2016-04-20 02:18] SkyLothar commented on #22
oh, that's a good idea.
now, i'm doing following steps to perform a `kid` validaiton

- load jwt to create a jwt_obj
- find out the right key according to the `kid`
- verify the jwt_obj

yes, a kid validation function sounds good.
much appreciated if you send a pr!

[2016-04-20 02:23] toonetown commented on #22
OK - I'll get it worked up probably tomorrow and get something submitted for review.

[2016-04-20 02:27] SkyLothar commented on #23
sounds like my proposal combined with @fermaem 's.
have a little discusstion at #19 , check it out

[2016-04-20 02:49] toonetown commented on #23
Looks great - I'd love to join in the discussion and/or help put together something that would also be a bit more flexible (i.e. to add the ability to validate a subject, or something else application-specific).  Would that be best to do on #19 or would it be better to work up some kind of proposal (in the form of a PR) and carry on the discussion in a new issue (or this issue)?

[2016-04-20 05:45] SkyLothar commented on #23
hmm...
let's discussion in this issue :tada:

[2016-04-21 02:00] #22 closed

[2016-04-21 02:15] toonetown commented on #23
Agreed that this now makes the validators table look kind of weird.  I would almost say that we replace the timeframe and iss validator options with some exposed functions that can be used just as a table of claims.

[2016-04-21 02:36] SkyLothar commented on #23
yep, i agree.

hi @fermaem , any thoughts?

[2016-04-21 08:00] fermaem commented on #23
I'm not sure that every claim validation should be allowed to be overridden now (ie. YAGNI): For instance, the lifecycle validator. On the other hand, it may make sense to provide the user with a callback for him/her to feed/override the base validator with some additional data.

@toonetown Any chance you could wrap up a client API proposal mock?

[2016-04-21 15:27] toonetown commented on #23
**WARNING:** Super long post follows.

I actually really like the simplicity of the API that is used by the `auth` function by https://github.com/auth0/nginx-jwt (which, BTW, uses this project for their underlying JWT work).  Particularly, I really like both the readability and simplicity of defining claims to be checked as a table that matches the claims themselves.  i.e.:

[code]

The auth0/ngin

[2016-04-21 15:49] toonetown commented on #23
It might even be nice to have the `verify` functions take multiple `claim_spec` parameters, and it merges them all together into a single `claim_spec` to use (later ones override earlier-specified ones).  Then, an adapter function could be provided in `jwt_validators` that returns an appropriate `claim_spec` which takes `validation_options` (as they are defined currently surrounding lifecycle).  F

[2016-04-22 01:35] SkyLothar commented on #23
[code]

i personally like the readability and the power to control everything.
but @fermaem got's his point, this lib should be easy to use without digging into complex manuals.

how about we add a function that takes current `validate_options` and produce a validators table shown above?
user can still easily control the validation behaviors by using the `validate_options` without worrying comprom

[2016-04-22 01:45] toonetown commented on #23
That is the route that I am planning on going.  I have the first bit of it in place, but I'm working under the following assumptions:

1. If you pass one of the verify functions a *single* `claim_spec`
2. *AND* If that claim spec has at least one of the following keys:
    - `lifetime_grace_period`
    - `require_nbf_claim`
    - `require_exp_claim`
    - `valid_issuers`
    - `claims` (see below)

[2016-04-22 03:25] SkyLothar commented on #23
Cool, let's do this. :tada:

[2016-04-22 04:05] toonetown commented on #23
Ok. Hopefully I'll be able to finish up or #26 tomorrow.

[2016-04-22 08:13] fermaem commented on #23
Wow! That's a very detailed proposal! Thanks a lot for that! :100: I like the general idea and the in-depth analysis.

Few thoughts, though:

 - I'm not really sold on the optional `date_value` parameter. I can't think of a real life use_case when one would want to set this value. However, it's possible it's been define for the sole purpose of make the testing easier. Would that be the case, how w

[2016-04-22 14:36] toonetown commented on #23
I think that's a great idea - I was trying to figure out how to handle it, and I like that approach better.  I'll add it to the tasks

That is almost what I proposed for the callback signature - except for reversing the order of the arguments `(claim_value, claim_name, jwt_obj)` - because in my view, the most common action a validator is going to take is to use the `claim_value`...so a validator a

[2016-04-22 16:13] toonetown commented on #23
Also - as I'm thinking about it, it seems weird to me to say (in code) `is_not_before(leeway)`.  It seems to me that the leeway maybe should also be set on a per-instance basis...because what you are saying is "I'm willing to be within this margin of error on my server"...which, to me, is "instance" - not "function".

[2016-04-22 16:22] toonetown commented on #23
Another change I'd like to propose is in the naming of the validators.  Instead of (for example) naming the optional one `equals_any_of` and the required one `required_equals_any_of`, I would propose the optional one (which, IMO, will be used less) be named `opt_equals_any_of` and the required one (the more common case) be named `equals_any_of`.  "Required" is kind of implied, I think.

[2016-04-22 23:54] toonetown commented on #23
Just a status update (aside from what I've been tracking on #26) - I am *most* of the way finished with updating the legacy options to using the new code, but I am not quite there.  I know that @SkyLothar said you were going to do a release this weekend, but perhaps you could hold off until the PR is finished (depending on my schedule, it might be this weekend, but it might also not be ready until

[2016-04-25 00:05] SkyLothar commented on #23
Thanks for your efforts. These are great proposals!

[2016-04-25 21:01] toonetown commented on #23
PR #26 is ready to be merged once it has been reviewed/checked for errors.  I have no more plans for changes other than anything that comes up in the review process.

Would you prefer I squash the commits into a single one and resubmit as a separate PR?  I don't know if it is easier for you to review as separate commits or as a single commit.

[2016-04-25 22:48] toonetown commented on #20
Can I request that the releases also be gzipped - instead of just tarred?

[2016-04-26 01:30] SkyLothar commented on #23
Separate pr is great.
I can squash them into one when i merge the pr.

[2016-04-26 01:31] SkyLothar commented on #20
Sure!

[2016-04-26 01:35] toonetown commented on #23
Done - see #27 for a single-commit version #26 has the commits separated.

[2016-04-26 06:27] SkyLothar commented on #15
@jsmilani Just some updates.
Really busy last few weeks,
`rockspec` was added, will publish to luarocks with next release.

You can use `luarocks make` to install latest version after cloning.

[2016-04-27 08:55] SkyLothar commented on #20
0.1.4 is released under tag v0.1.4

You can also get `.tar.gz` or `zip` format.
And you can install it via `luarocks install lua-resty-jwt`

[2016-04-27 08:55] #20 closed

[2016-04-27 08:56] SkyLothar commented on #15
@jsmilani
I've published `lua-resty-jwt` on luarocks.
You can now install via `luarocks install lua-resty-jwt`

[2016-04-27 08:56] #15 closed

[2016-04-27 13:27] toonetown commented on #23
#27 has been merged.

[2016-04-27 13:27] #23 closed

[2016-04-27 15:46] toonetown opened #29 "Include hmac in distribution?"
I don't know if it's possible (for licensing/other reasons), but it would be nice to include the stuff inside of "vendor/resty" in the packaged distribution when builds are made.

Again - not a super urgent issue - and it's something that can be grabbed separately, but it's kind of nice to have a distribution package that contains all the required files.

[2016-04-27 16:28] SkyLothar commented on #29
I'm not super familiar with luarock, but
according to [rockspec](https://github.com/SkyLothar/lua-resty-jwt/blob/master/lua-resty-jwt-dev-0.rockspec#L26), I think I already included the `hmac` lib.

So, I guess you're talking about the `.tar.gz` and `zip` in release, right?

[2016-04-27 16:30] toonetown commented on #29
Yeah - particularly because I also do not use luarocks.  😄 I'm talking about the `.tar.gz` that you created in the release (https://github.com/SkyLothar/lua-resty-jwt/releases/download/v0.1.4/lua-resty-jwt-0.1.4.tar.gz)

Currently, I'm actually just grabbing the source and extracting just the `lib` and `vendor` paths...so it's working just fine for me.  I just thought it might be nice (for future

[2016-04-27 16:36] SkyLothar commented on #29
It's a mistake.
I put `hmac.lua` in older releases, but I forgot to put it in `0.1.4`.
Just updated the 0.1.4 release archives, `hmac.lua` included.

[2016-04-27 16:37] toonetown commented on #29
Cool - thanks!

[2016-04-27 16:42] #29 closed

[2016-05-01 13:32] #7 closed

[2016-05-02 18:20] toonetown opened #32 "New build 0.1.5"
Any schedule for getting another release (0.1.5?) with the recent changes?

[2016-05-03 01:23] SkyLothar commented on #32
Just released [0.1.5](https://github.com/SkyLothar/lua-resty-jwt/releases/tag/v0.1.5)

[2016-05-03 10:06] fermaem opened #34 "How to properly cope with certificate renewal?"
The lib provides a way to validates certs through `jwt:set_trusted_certs_file("/path/to/may/cert.pem")`.

We're currently assessing the integrity of jwts by

 - first validating the public cert exposed by the `x5u` claim against a trusted root one (set through `jwt:set_trusted_certs_file("/path/to/may/cert.pem")`)
 - then checking the signature of the signed jwt

However, it is unclear for me how

[2016-05-03 11:07] SkyLothar commented on #34
I don't use `x5u` personally, I'm not sure about the best practice.

- Use `kid` or some claim to specify a `.pem` file?
- Accept multiple certs file or single concatenated `.pem` file while renewal is in transaction?

[2016-05-03 11:29] fermaem commented on #34
Me neither :cry:

It looks like `kid`actually exposes the fingerprint of the public cert exposed by the `x5u` claim.

I'll try to check if having multiple root certs in a single pem file plays well with the lib. Wouldn't that be the case, I'll work on a Pull Request to propose something (maybe some kind of a "if-that-doesn't work-with-that-pem-file-try-this-other-one" fallback mechanism)

[2016-05-10 14:20] Afikudi opened #36 "RSA512 support?"
Is it planned? or can you explain how to add support for RSA512?

[2016-05-11 00:44] #32 closed

[2016-05-11 02:17] SkyLothar commented on #36
Just put some `if-else` in `jwt.lua`.
But the code is poorly written now.
I want to refactor it first, then I'll add RSA512 support.

[2016-05-11 17:18] zandbelt commented on #34
a few comments:

`kid` in a JWT is a key identifier in the generic sense; it may contain a fingerprint but that is a deployment choice, not dictated by any spec, so you can't rely on it; if you want to base validation on fingerprints, `x5t` is the way to go

checking multiple certs in a fallback scenario it a typical solution in e.g. SAML/SSO scenario's where the signing key is rolled over and pee

[2016-05-13 22:59] HankBrown opened #38 "Causes for "invalid jwt string" ?"
Thanks to all.

I am new to both nginx and lua, so this is probably not an issue.
Just not sure where to turn now.
I am trying to extend the example by adding a user id.
Am I attempting something impossible, or do I need more help with syntax (nginx or lua??)
Many variations tried. The following seems closest...

I get a result for the gentoken location:
[code]

But I'm running out of ideas on the

[2016-05-13 23:08] HankBrown opened #39 "Generating a token in php"
Does anyone have experience generating the token in php?

I encountered two surprises. No direct support for HS256 in php.
But if I have googled correctly, 'sha256' is the sam3 thing.

Results do not match what is generated by /sign ?

I can use curl to get a result --but that seems weird. Maybe it isn't?!

[code]

Appreciate any advice, thank you.
I had assumed I could generate the token in php a

[2016-05-14 18:13] HankBrown commented on #38
With apologies for polluting the issues here, my answer came from discovering **ngx.var**

[code]
With those changes, code works as expected.

[2016-05-14 18:20] #39 closed

[2016-05-14 18:31] HankBrown commented on #39
http://www.sitepoint.com/php-authorization-jwt-json-web-tokens/

[2016-05-14 19:19] #38 closed

[2016-05-15 16:52] HankBrown commented on #39
My problem was assuming all scripts called JWT.php were created equal.
The one I linked to above is short and sweet and _does not work_ with lua-jwt-resty.

This one is more up-to-date php-wise (name spacing etc) and **works with lua-jwt-resty.**
https://github.com/emarref/jwt

There are at least three more flavours on gitHub for php.

Neither a cutter nor a paster be. Shop carefully.

[2016-05-15 17:34] HankBrown opened #40 "Eliminate header? Can this be an option?"
RE https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/

Apologies if this has already been covered. I am not expert enough with LUA to read the code and be sure I have understood.

If I understand the issue, I am not immediately vulnerable, because my usage is internal (I have a secret key, do not use third-parties and public keys).  Cf comment from José Romanie

[2016-05-16 12:25] SkyLothar commented on #39
Thanks for the heads up! 👍

[2016-05-16 13:27] SkyLothar commented on #40
Hmm...
I don't like the idea of  __dropping all header__ personally.
It's not __proper__ RFC JWT when you eliminate headers.

But I think I can put `raw_payload` into the `jwtObj` when signing, so you can easily drop headers by adding few lines.
__it's not working for now__

[code]

Thoughts?

[2016-05-17 14:59] HankBrown commented on #40
I don't think you should do anything on my account, thank you.
I agree about remaining "proper".
The code provides enough for me to customize for my use case without affecting others.
Meantime I think you've done great as is. Thank you.

[2016-06-05 16:56] fermaem opened #41 "Add handling of intermediate certs in x5u"
I'm thinking about working on this topic.

Currently we're relying on `Cert.new()` and `Cert.verify_trust()` that have been initially contributed by @dhiltgen

According to the **[RFC](https://tools.ietf.org/html/rfc7515#section-4.1.5)** *"The certificate containing the public key corresponding to the key used to digitally sign the JWS MUST be the first certificate.This MAY be followed by addition

[2016-06-06 02:07] SkyLothar commented on #41
I have only little bit experience on openssl under ms windows, I am not much help.
I'm digging into it right now... lead the way, great @fermaem

[2016-07-15 18:51] edjiang opened #42 "Validate header claims"
I'd like to be able to validate header claims with my claim spec as well -- this could look like:

[code]

[2016-07-15 19:56] aarondanielson opened #43 "Add info to the Installation section (or wiki page?) about HMAC"
The HMAC library used here isn't the one available via a `luarocks install`, which installs the repo maintained here:
https://github.com/jamesmarlowe/lua-resty-hmac

The HMAC library we need instead is this one:
https://github.com/jkeys089/lua-resty-hmac

[2016-07-16 13:57] SkyLothar commented on #43
README gives the right repo of `hmac`.
And if you use luarocks to install `lua-resty-jwt`, it automatically installs the right hmac lib.

I'll add more tip in the readme❗ Thank for your advice

[2016-07-16 14:01] SkyLothar commented on #42
Good idea! I definitely will do this!

[2016-07-16 14:07] SkyLothar commented on #43
👍  done

[2016-07-16 14:07] #43 closed

[2016-07-16 16:06] edjiang commented on #42
Awesome! By the way, I think it's considered best practice to pin the signing algorithm when verifying a JWT. Otherwise:

* An attacker can change `alg: none` in the header, and a insecure JWT library would validate the JWT
* An attacker can use the public key of an asymmetric JWT, and sign a JWT using `alg: HS256` or something symmetric and an insecure JWT library would validate the JWT

Not sure

[2016-07-17 04:11] SkyLothar commented on #42
- We didn't implement the `none` algorithm.
- You can use `set_alg_whitelist` function to pin one or some signing algorithms.

[2016-07-30 18:59] edjiang commented on #42
Awesome, didn't realize that. Thanks!

[2016-08-17 09:42] saks opened #44 "required key length is wrong"
from [rfc](https://tools.ietf.org/html/rfc7518)

but in code:
[code]

[2016-08-18 04:54] SkyLothar commented on #44
fixed in [050627](https://github.com/SkyLothar/lua-resty-jwt/commit/050627d65bb490f274528ea554ca013d758743b5)

Thanks!

[2016-08-18 04:59] saks commented on #44
Great! BTW, I think it would be nice to make this library compatible with other implementations (with RFC). Right now I'm working on [PR](https://github.com/SkyLothar/lua-resty-jwt/pull/45). Would be great to hear your opinion.
Thanks!

[2016-08-18 12:53] saks commented on #44
Fixed by https://github.com/SkyLothar/lua-resty-jwt/pull/45

[2016-08-18 12:53] #44 closed

[2016-08-22 08:11] saks opened #46 "When to exect the release of v0.1.7?"
I'd like to bundle my project with fixed implementation of jwe. Any ideas when will be a next release? Is there anything that blocks the next release?

[2016-08-22 08:42] SkyLothar commented on #46
Sorry, got really busy last weekends.
I'm going to release right now.

[2016-08-22 08:46] saks commented on #46
Sorry for disturbing you. Thanks a lot!

[2016-08-22 08:46] #46 closed

[2016-09-08 17:01] willfarrell opened #47 "ES{256,384,512} Support"
Related to #36.

`openssl ecparam -name secp521r1 -genkey -out ES512.pem && openssl ec -in ES512.pem -pubout >> ES512.pem`

[2016-10-17 23:19] mrrobby opened #49 "Custom Claim Containing Table Value"
I've been working though [auth0/nginx-jwt](https://github.com/auth0/nginx-jwt) and following what you've done since with jwt-validators, in my own attempt to add one more bit of functionality.  I wanted to propose an addition or see if I missed something in my own implementation.

**Motivation**: validating a claim containing an array/table of values from which one must match.  For example, valida

[2016-10-21 13:42] jgehrcke opened #50 "Standard claims (such as exp) not validated by default"
This was a bummer to me. By default, the following library usage is insecure at not RFC-compliant:
[code]
For example, this happily returns `jwt_obj.verified` being true, even if the token is expired.

I understand that application developers must always be responsible when using security-relevant libraries. But not validating claims by default and not explicitly warning about this in the docs in

[2016-10-21 14:32] jgehrcke commented on #50
Note that this is a regression. Older library versions (last confirmed: 0.1.1) performed `exp` claim validation by default. This turns out to be a rather severe vulnerability, I think.

[2016-10-21 15:13] jgehrcke opened #51 "Invalid version string"
That's not up to date:
https://github.com/SkyLothar/lua-resty-jwt/blob/6de92897ec6fab063d889b33baf6600df3b6f942/lib/resty/jwt.lua#L7

[2016-10-23 13:00] SkyLothar commented on #51
👍  thanks, going to fix it right now!

[2016-10-23 13:05] SkyLothar commented on #50
It should validated by default, some thing must went terribly wrong. 🐞

[2016-10-23 13:15] SkyLothar commented on #49
👍 Great idea, I'll make it happen in few days.
PR is welcome.

[2016-10-23 18:07] SkyLothar commented on #51
fixed in 0.1.8

[2016-10-23 18:07] #51 closed

[2016-10-23 18:07] SkyLothar commented on #50
fixed in 0.1.8

will validate `nbf`/`exp` by default.

[2016-10-23 18:07] #50 closed

[2016-10-24 00:52] mrrobby commented on #49
Sounds good @SkyLothar .  I have some updates I can push.  The test methods may need some review and running as my dev machine here can't run docker, but the addition was relatively straightforward.

[2016-10-24 01:34] SkyLothar commented on #49
You can pull request, and [traivs](https://travis-ci.org/SkyLothar/lua-resty-jwt) will run the test case for you.

[2016-10-24 05:56] mrrobby commented on #49
I can do that.  I've been trying, but it's github is not authorizing my push.  Do you have any restrictions on this repo?  I've checked and verified my ssh keys (even regenerated a new one), using a git for remote returns
[code]

I tried using https instead and that returns a `403` error.  All typical checks have been made.  Thoughts?

[2016-10-24 07:31] SkyLothar commented on #49
Oh, Github doesnot work like that.

To make a contribution
1. You have to fork this repo first, creating `mrrobby/lua-resty-jwt`.
2. Submit a PR from `mrrobby/lua-resty-jwt@feature-branch` to `SkyLothar/lua-resty-jwt@master`

[2016-10-24 12:30] jgehrcke commented on #50
Thanks for taking care of this!

[2016-10-24 17:24] mrrobby commented on #49
Sorry about that.  See PR #52

[2016-10-28 12:45] dlouzan opened #53 "Tokens always pass validation even with invalid checksums when using asymmetric key algorithms"
Hello,

First of all, let me say that my knowledge of Lua can be measured in "days", so please be gentle :-)

I have been using the library for the last weeks, and I it seems that there is a critical bug in the validation of tokens when using asymmetric algorithms (RS256 or RS512).

In the following code in jwt.lua `_M:verify_jwt_object`:

[code]

As far as I understand, this piece of code creates

[2016-10-28 12:55] zandbelt commented on #53
Seems like that was introduced only recently when adding support for RS512: https://github.com/SkyLothar/lua-resty-jwt/commit/6de92897ec6fab063d889b33baf6600df3b6f942

[2016-10-31 02:13] SkyLothar commented on #53
I'll dig into it in few days. Thank you guys for reporting.

[2016-11-18 15:06] tsunammis opened #55 "Push the library on OPM ?"
Hello,

Currently, I'm using your library for an another project, I would like to import it from [OPM](https://opm.openresty.org/).

Could you push your library on it please ?

I also [created a ticket](https://github.com/jkeys089/lua-resty-hmac/issues/4) on lua-resty-hmac to ask them to push their project on OPM.

Thank you.

[2016-11-18 17:13] SkyLothar commented on #55
Of cuz, I'll push it in few days.

[2016-11-21 13:49] tsunammis commented on #55
`lua-resty-hmac` is now on OPM under `jkeys089/lua-resty-hmac` -> https://github.com/jkeys089/lua-resty-hmac/issues/4

[2016-11-24 07:00] tsunammis commented on #55
@SkyLothar any news ? Do you need help ?

[2016-11-25 04:19] SkyLothar commented on #55
got really busy this week, i'll push it this weekend

[2016-11-25 17:23] SkyLothar commented on #55
@tsunammis you can install via opm now 🎉

[2016-11-25 17:23] #55 closed

[2016-11-25 17:23] tsunammis commented on #55
Great, thanks a lot !!!!
Have a nice week-end.

[2017-01-20 00:05] kapouer opened #56 "openssl 1.1 compatibility ?"
Hi,

debian will ship nginx with openssl 1.1 support, meaning... one won't be able to
run this module in next's debian stable. Any plans about that ?

[2017-03-21 15:19] lucafavatella commented on #53
I understand this shall be closed following #54.

[2017-03-21 15:24] lucafavatella commented on #36
I understand this is fixed by #48 and #54.

[2017-03-21 15:44] lucafavatella opened #58 "CI reports success even if tests fail"
Sample CI output excerpt from https://travis-ci.org/SkyLothar/lua-resty-jwt#L224 :
[code]

[2017-03-21 16:37] lucafavatella commented on #58
I am preparing PR.

[2017-03-21 18:48] lucafavatella commented on #49
This should be closed by #52 I believe.

[2017-03-26 13:25] #36 closed

[2017-03-26 13:53] #58 closed

[2017-03-26 13:54] #49 closed

[2017-04-07 09:22] dlouzan commented on #53
Hello team, could we expect a release soon? I'm still fixing this manually in our build, and in the meantime another critical issue #57 was reported. Both seem to have been fixed in master, just expecting a release so that I can update our build configuration :-)

[2017-04-09 13:32] SkyLothar commented on #53
Just released v0.1.10 on
- [github](https://github.com/SkyLothar/lua-resty-jwt/releases/tag/v0.1.10)
- [luarocks](https://luarocks.org/modules/skylothar/lua-resty-jwt)
- [opm](https://opm.openresty.org/)

[2017-04-09 13:32] #53 closed

[2017-04-10 11:56] tsyrjanen opened #62 "luarocks install lua-resty-jwt fails"
Luarocks installation fails.

In my ubuntu desktop machine:

$sudo luarocks install lua-resty-jwt

Warning: falling back to curl - install luasec to get native HTTPS support
Installing https://luarocks.org/lua-resty-jwt-0.1.10-0.src.rock

Error: Couldn't extract archive .: unrecognized filename extension

And in my Dockerfile (based on CentOS):

Step 6/11 : RUN luarocks install lua-resty-jwt
 --->

[2017-04-10 14:14] patricksanders commented on #62
It appears that the rockspec is broken: https://luarocks.org/manifests/skylothar/lua-resty-jwt-0.1.10-0.rockspec

The source URL is set to `'file://.'`, whereas 0.1.9 is a repo URL: https://luarocks.org/manifests/skylothar/lua-resty-jwt-0.1.9-0.rockspec

[2017-04-10 20:21] gimbel0893 commented on #62
I've been using 0.1.10-0 for about a yr with no problem.  Even rebuilt it about a week ago with no problem.

Needed to rebuild today and now having the same issue as stated above.

The manifest was changed in last ~week?  Can it be rolled back?

[2017-04-10 21:00] patricksanders commented on #62
@gimbel0893 That seems unlikely, since 0.1.10-0 was released yesterday.

As a temporary workaround, I have pinned my version of lua-resty-jwt to `>= 0.1.8, < 0.1.10`.

[2017-04-10 21:05] gimbel0893 commented on #62
Oops thanks for correction.  I wasn't specifying version so started grabbing latest from yesterday then.  Thanks much

[2017-04-12 09:29] SkyLothar commented on #62
😿 Sorry for the trouble.
Just released 0.1.10-1 to fix this problem.

I'll add some tests for installation check after a new version is released.

[2017-04-12 11:00] tsyrjanen commented on #62
Thanks, it works.

$sudo luarocks install lua-resty-jwt

Warning: falling back to curl - install luasec to get native HTTPS support
Installing https://luarocks.org/lua-resty-jwt-0.1.10-1.src.rock
lua-resty-jwt 0.1.10-1 is now installed in /usr/local (license: Apache License Version 2)

[2017-04-12 13:01] patricksanders commented on #62
Thanks! Works for me as well.

[2017-04-12 13:21] #62 closed

[2017-05-05 00:19] venkatmarepalli opened #63 "Question on JWT token validation."
I am trying to validate my access_token using https://github.com/pingidentity/lua-resty-openidc#sample-configuration-for-oauth-20-jwt-token-validation. Somehow I wasn't able to succeed. My goal is to protect my apis using this approach. Here is my configuration. Am I missing something here. I am getting 2 issues here. Can someone tell me where I am going wrong. I was able to verify the signature u

[2017-05-08 06:49] kleht8 opened #64 "Memory leak jwt:verify with X509 certificate"
I'm experiencing memory leak when using X509. Ran through Valgrind and most of the leak points to X509_get_pubkey. Not sure if this a OpenSSL issue or something else.

Specs:
Centos 7 - 64Bit
nginx version: openresty/1.11.2.3
openssl-1.0.1e-60.el7_3.1.x86_64
SkyLothar/lua-resty-jwt                                      0.1.10

`valgrind -v --log-file=memcheck.log  --tool=memcheck --leak-check=full

[2017-05-09 09:32] #64 closed

[2017-07-07 00:12] venkatmarepalli opened #66 "Pem from JWKS"
Can you add this piece of code to this library. This gets PEM key from JWT token using n and e. It also supports pem Generation using x5c.

Refer:
https://github.com/pingidentity/lua-resty-openidc/issues/71

Code:
https://github.com/pingidentity/lua-resty-openidc/pull/82/files

[2017-07-27 12:04] lurui04 opened #67 "when I was in the test jwt/sign run into a problem, who can help me"
on the  RHEL5 find the problem:
[error] 21301#0: *1101 lua entry thread aborted: runtime error: /home/###/###/openresty/lualib/resty/jwt.lua:494: attempt to index a nil value;
but it is ok on my mac;

[2017-08-01 23:38] taylorking commented on #66
:+1: :+1: :+1: They had me time crunched at work so I ended up making [this](https://github.com/taylorking/lua-resty-cjose) to call straight into cjose and perform proper jws / jwk validation

[2017-08-01 23:45] taylorking commented on #66
One alternate avenue is using something like this in aws lambda to transform the key so I could use it with this library

[code]

Recognize how difficult it may be to do a full implementation of JOSE in lua.. without luajit ffi and cjose wouldn't have made this deliverable

[2017-08-01 23:48] venkatmarepalli commented on #66
Many Thanks. I will look into it, which library are you using for `jwkToPem(key)`. Can you point me to this function's source?

[2017-08-01 23:51] taylorking commented on #66
You can just use my lua-resty-cjose.. [cisco/cjose](http://github.com/cisco/cjose) can handle keys in plain jwk format as long as they are converted to a c string (which my library does).. That way you can do it inside of openresty.. If you look at how I built it into our apigateway [here](https://github.com/apache/incubator-openwhisk-apigateway/blob/master/scripts/lua/oauth/app-id.lua) I use lua

[2017-08-30 08:10] sureshvarman opened #68 "RS256"
Getting `segmentation fault` log on signing a new JWT token using RSA private key and certificate

[2017-09-04 10:46] wanming opened #69 "Got 'everything is awesome~ :p' error"
I met a verify error which reason is "interval error", then I modify [this line](https://github.com/SkyLothar/lua-resty-jwt/blob/e5d4e008c769578841b327ac2bae6a35f55b54ce/lib/resty/jwt.lua#L751) to `jwt_obj[str_const.reason] = cjson.decode(ret)`, then I got a reason "everything is awesome~ :p", is there some logic missed in your code?

[2017-09-12 13:54] AlexeyAtIgloo opened #70 "Validation example throws exception due to validate function 3rd argument being a number and not object/table"
Been playing around with guard examples and noticed the following:

Getting this exception:
[code]

My token does not have any claim and seems like 3rd argument on below line causing this issue:
[here](https://github.com/SkyLothar/lua-resty-jwt/blob/ee1d024071f872e2b5a66eaaf9aeaf86c5bab3ed/examples/guard.lua#L9)

If 3rd argument removed, everything seems to work as expected.

Thanks for a great li

[2017-10-18 16:45] choubacha commented on #12
@dkatona What were the changes to the format that you needed to make? I'm getting the `bad decode` error but I think i have the correct format.

[2017-11-07 23:31] venkatmarepalli commented on #66
This has been included in https://github.com/pingidentity/lua-resty-openidc

[2017-11-07 23:31] #66 closed

[2018-01-16 18:40] ankitvats24 opened #72 "id_token 'RS256' signature verification failed, client: xxx.xxx.170.207"
I am able to validate the token at jwt.io. Signature validation is also true using my public key.

2018/01/15 06:13:11 [debug] 256#256: *78 [lua] openidc.lua:737: openidc_load_jwt_and_verify_crypto(): jwt: {"signature":"Jb9T5QlRDIJMdhcC_jQ9bZlCKuRBEWe9BJd70g0sw1UJbznKwXb46eGsaGgAF1aorsZaEQqefAxkL5rfgp9dPVETyAQrToGD74QloStLq_15oeCLa0wAeJvHGb4x_pEGNqAjLYHu04MaguQfVZsVulM80kxBLCQ7ILJvii06HuU","reason

[2018-01-22 13:21] grrolland commented on #72
I have got the same issue with last version (0.1.11).

I can reproduce outside nginx with this sample code :

[code]

The output is : "**too long**"

The JWT signature is validated by jwt.io.

[2018-01-22 14:04] grrolland commented on #72
When I renew my keypair (RSA 2048, signing algorithm SHA-256 with RSA), JWT verification is functionnal.

I don't know what the type of keypair before, it was the OpenAM 13.5 default (and don't work).

[2018-02-23 12:21] gwkunze commented on #56
I was trying to get this library to work on the kubernetes nginx ingress controller and ran into the issue of it not working with openssl 1.1.0. Getting the error `failed to find function/global EVP_MD_CTX_create`.

I tried some simple stuff, and it seems to simply be fixed by editing evp.lua and changing all instances of the following two strings:

| Change This | To This |
|--------------|------

[2018-02-27 14:38] saggiyogesh commented on #72
Working fine in openresty. Used like this.
[code]
Token and Signing Certificate are generated by [Auth0](https://auth0.com)

[2018-03-07 09:14] grrolland commented on #72
My precedent comment confirm this. When the signing key is corrupt, this don't work and it's normal !!

Althought the error message is not very clear, I think this issue should be closed.

[2018-03-28 20:48] Obsolete01 commented on #63
Did you ever get this working?

[2018-03-28 20:56] FlorentATo opened #75 "Update lua-resty-hmac to support OpenSSL 1.1.0+"
Hi,
lua-resty-hmac has been recently updated by @jkeys089 to support OpenSSL 1.1.0+.
You might consider integrating these changes as part of #56.

Keep up the good work :)

[2018-03-28 21:26] venkatmarepalli commented on #63
Yes, it worked with the help of https://github.com/zmartzone/lua-resty-openidc

[2018-03-28 21:53] Obsolete01 commented on #63
Would you mind sharing the code used to decode the access token to then validate it's claim after authentication?

[2018-03-28 22:00] venkatmarepalli commented on #63
Did you check this https://github.com/zmartzone/lua-resty-openidc ? This library lets you do what you are expecting.

[2018-03-28 22:06] Obsolete01 commented on #63
Yea, but I can't get the validation of the access token working.... I get redirected for authentication and that works, but I am unable to get the validation of my access token to work so was curious as to what you done because your are validating from the access token right?

[2018-03-29 13:16] pamiel commented on #72
hello to all of you,

@grrolland I'm indeed facing the same "too long" issue... but no way to identify what's going wrong (so far !).
I'm quite interested in your experience as you seems to understand what is the root cause of this problem... but I don't understand the point "When the signing key is corrupt" in your last post.

What do you mean by that ? Do you mean that the key obtained (for exam

[2018-03-29 16:57] pamiel commented on #72
_[In complement to my previous post, as I'm still interesting in @grrolland feedbacks !]_

I’m using  the `lua-resty-openidc` component to perform the verification of JWT tokens previously generated by KeyCloak. For that, `lua-resty-openidc` is using the Realm public key created by KeyCloak (RSA 2046 bits key pair), and relies on `lua-resty-jwt` to perform the verification of the signature.

Most

[2018-03-29 22:30] usernamecopied12 commented on #42
How would you go about validating the sub claim in the JWT access token.

[2018-03-30 09:54] usernamecopied12 commented on #42
Is it possible to validate the sub in the payload of the JWT ?

[2018-03-31 17:15] gzliudan opened #76 "question about set and check expire time"
How to set expire time when create a new jwt token?
And how to check a token is expired? Does below codes working?
local jwt_obj = jwt:verify("jwt-key", token,
    {
        lifetime_grace_period = 120,
        require_exp_claim = true
    }
)

[2018-04-02 19:24] claudijd opened #77 "openidc.lua:819: authenticate(): id_token 'HS256' signature verification failed, client: 10..."
Ran into this error today, saw similar comments on https://github.com/SkyLothar/lua-resty-jwt/issues/72 as well as a release to fix this for RS256 [here](https://github.com/SkyLothar/lua-resty-jwt/releases/tag/v0.1.10)

My fix for this was to switch to RS and that worked just fine.  I'm not that familiar with the guts on this repo, but figured I'd report this in the case it might be affecting othe

[2018-04-11 13:17] pamiel commented on #72
Ok, found !
The issue is in fact not due to `lua-resty-jwt`. The issue is indeed due to a bug in the `lua-resty-openidc` library I’m using on top of `lua-resty-jwt`: in rare cases, the public key is starting with the `0x80` byte, and the bug in `lua-resty-openidc` makes the DER (and then PEM) structure that is rebuilt based on the data obtained from the JWKS endpoint of the Identity Provider/OP be

[2018-04-11 13:23] pamiel commented on #77
Hi @claudijd

I'm not sure this is the exact same issue, as I think I found the root cause for RS265 signature verification failure referenced here https://github.com/SkyLothar/lua-resty-jwt/issues/72 and here https://github.com/zmartzone/lua-resty-openidc/issues/135.

The issue is indeed due to a bug in the `lua-resty-openidc` library you are also using: in rare cases, the public key is starting

[2018-04-11 14:23] claudijd commented on #77
@pamiel I'm unfortunately not super familiar with the innerworkings of this so I'll apologize in advance.  In my case I was integrating a Jenkins install with Auth0 and was using this library as a means of requiring authentication at nginx before any access was being provided to the app.  It followed a similar pattern as described in [this project](https://github.com/mozilla-iam/mozilla.oidc.acces

[2018-04-11 14:23] claudijd commented on #77
whoops, sorry

[2018-04-13 09:39] ruifung opened #78 "Require alg parameter when verifying."
In accordance with https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/
Most, if not all JWT libraries require specifying the verification algorithm when verifying.

[2018-05-17 14:51] ghost commented on #56
See https://github.com/SkyLothar/lua-resty-jwt/pull/79

[2018-05-17 14:51] ghost commented on #75
See https://github.com/SkyLothar/lua-resty-jwt/pull/79

[2018-05-22 19:23] gdestuynder commented on #77
@pamiel the bug seems to still be there in lua-resty-openidc (1.5.4 which includes our pr) or lua-resty-jwt

[code]
using:
lua-resty-openidc 1.5.4
lua-resty-jwt 0.1.11

The jwt_str if i log it seems ok (at https://github.com/zmartzone/lua-resty-openidc/blob/master/lib/resty/openidc.lua#L776) its just no longer ok once parsed, it looks like. I verified the secret passed for verification is also cor

[2018-05-22 19:56] gdestuynder commented on #77
after futher investigation it comes from how luarocks compiles the libraries. using opm will fix this.
i didnt look at the *exact* problem though, but same versions, same files, no problem

[2018-05-23 08:37] zandbelt commented on #77
For the record, the `lua-resty-jwt` README.md says:

so it seems logical that it is related to the `hmac.lua` dependency.

[2018-05-23 17:33] gdestuynder commented on #77
yep that seems right. @zandbelt I guess the readme in the lua-resty-openidc repos should swap luarocks instructions to use opm. I'm not really aware of the lua community discussions around this, but did notice that the openresty website mentions you should always use opm instead of luarocks now due to "issues in how luarocks packages modules", or something similar:

https://openresty.org/en/using-

[2018-05-24 07:26] zandbelt commented on #77
`lua-resty-jwt` addresses this by including its own version of `lua-resty-hmac`:
https://github.com/SkyLothar/lua-resty-jwt/blob/master/vendor/resty/hmac.lua
in the rockspec:
https://github.com/SkyLothar/lua-resty-jwt/blob/master/lua-resty-jwt-dev-0.rockspec#L26
which has version number `0.0.1`.

But I have also experienced myself that this can be overwritten by an explicit separate manual install

[2018-05-31 11:17] sanjamoh19781 opened #81 ""jwt.lua": HS256 signature validation fails which reason as "internal error""
My env:
   - nginx version: openresty/1.13.6.2
   - JWT lua scripts -> https://github.com/auth0/nginx-jwt/releases/download/v1.0.1/nginx-jwt.tar.gz
    - The default  FFI adapter bundled ->    --with-ld-opt='-Wl,-rpath,/usr/local/openresty/luajit/lib

After debug i stuck up at hmac.lua at function _M.new(self, key, hash_algo). It seems it returns "nil' to the caller in JWT.lua.
I doubt something g

[2018-05-31 15:26] albertaparicio commented on #81
I am having the same problem here. OpenResty version is 1.13.6.2

I am trying to verify a JWT token (I can verify it in jwt.io), but the result is negative, with HS256 algorithm and reason 'internal error'.

Any ideas on when has this started to happen?

Thanks

[2018-06-01 10:26] albertaparicio commented on #81
I have downgraded the `openresty`, `openresty-opm` and `openresty-resty` packages back to version 1.13.6.1 and it all works fine.

[2018-06-04 06:31] sanjamoh19781 commented on #81
Apologies for not seeing the post since long. Thank you @albertaparicio for the info. Infact i had tried with a older version before, still it did not work. Let me see to do it with a new VM.

[2018-06-11 07:43] cliveeisen commented on #81
Replace the hmac.lua (sum 48606) with the one at  https://github.com/jkeys089/lua-resty-hmac
(sum 54340) and it all works again

[2018-06-20 11:41] rcjsuen opened #82 "Comment mention both x5c and x5u being defined when they are not"
https://github.com/SkyLothar/lua-resty-jwt/blob/ee1d024071f872e2b5a66eaaf9aeaf86c5bab3ed/lib/resty/jwt.lua#L601-L606

In the code above, the comment talks about not handling the case of `both x5c and x5u are defined`. However, it is possible to get that far down in the code path if both `x5c` and `x5u` are `nil`. Is that supposed to be a different case that should be handled?

According to RFC 751

[2018-06-20 12:36] rcjsuen commented on #82
Alternatively, perhaps the issue is that I called `jwt:set_trusted_certs_file(...)` and/or `jwt:set_x5u_content_retriever(...)` when I don't actually need to (as my JWT's header doesn't contain an `x5c` or an `x5u` property)?

If that's the case, could the error message be improved to make this clearer and/or some comments get inlined here to clarify this?

Sorry, I'm new to all this JWT stuff so

[2018-07-11 21:54] chriswatrous opened #83 "Confused about expected key format"
I'm trying to verify a token that uses this jwk:
[code]

I couldn't find a good way to convert that to a pem in lua so I'm using a node script with the jwk-to-pem library. That gives me a key like this:

[code]

I see this issue https://github.com/SkyLothar/lua-resty-jwt/issues/7 that ends with a merged PR about supporting RSA public keys, but I'm still getting the "no start line" error when I cal

[2018-07-12 03:27] chriswatrous commented on #83
Ok, I got it to work by piping the key through this command:
[code]
which returns this key:
[code]

[2018-07-19 17:43] BrunoQuaresma opened #84 "Module 'resty.aes' not found:"
Hi folks, I'm trying to import the lua-resty-jwt in a script but this error `module 'resty.aes' not found:` is displayed. I tried to find the lua-resty-aes package on luarocks but I could not.

My goal is to build a script to verify a JWT. My current script:

[code]

Lua version:  5.3.5
OS: MacOS Sierra

[2018-07-26 17:08] dolivervl commented on #81
@cliveeisen Thank you, u tip works for me !!!!

[2018-08-03 10:28] and1990 commented on #81
I have meet this problem. Downgrade the Openresty version works for me.

My case:
1.  It worked fine with Openresty version 1.11.2.5.
2. Then I upgraded Openresty, its version is 1.13.6.1.
3. It showed 'internal error' when i used JWT library  to verify user's token. I had tried multiple ways to solve this problem, but none of them worked.
4. Finally, I returned back to 1.11.2.5 ,  everything is o

[2018-08-22 09:13] agilezebra opened #85 "Is this project still active?"
There are 3 PRs open for 6 months plus. We'd really like to use this project in production in our organisation but it difficult to do so comfortably if it's effectively abandoned.

[2018-08-31 13:11] jgehrcke commented on #85
We use the project in production.

I have not followed the issues very recently. Do you think there is a currently known issue that is absolutely critical such as a security bug?

[2018-08-31 13:13] jgehrcke commented on #85
There seems to be this fork: https://github.com/cdbattags/lua-resty-jwt/

@cdbattags what's the plan? :)

[2018-08-31 13:14] jgehrcke commented on #85
I see: https://github.com/SkyLothar/lua-resty-jwt/pull/79#issuecomment-392791349

[2018-08-31 13:19] cdbattags commented on #85
Hi folks! We’ve fully forked this and the fork is now even live on LuaRocks with the same name.

If you're using LuaRocks as a package manager then you're probably already using the fork in prod!

Otherwise, feel free to submit PRs on my branch and update to latest if you'd like to run latest version of OpenResty! Woo!

[2018-08-31 13:30] jgehrcke commented on #85
@cdbattags so you have no plan trying to get your latest goodies into SkyLothar/lua-resty-jwt -- no?

What I would really love to see, be it here or in your repo, is a decent changelog :).

[2018-08-31 13:38] cdbattags commented on #85
Nope, this maintainer is a-wall and until they come back and until we agree on a clear path forward all PRs should basically flow into my fork now!

As long as we as a group agree agree of course! The major part about a fork is getting it into the package managers (OPM and LuaRocks) but since this is done there's no reason to still attempt to get my changes into this repo.

Changelog easy to add f

[2018-08-31 13:43] cdbattags commented on #85
I'll look through the latest PRs here this weekend and see if we can get them in mine but @agilezebra it would be great if you could open a PR to mine as well to preserve the commit authorship 😉

[2018-08-31 13:48] zandbelt commented on #85
As the author of [`lua-resty-openidc`](https://github.com/zmartzone/lua-resty-openidc), a package that depends on `lua-resty-jwt`, I support this fork and IMHO it should be the new master because of the unhealthy state of the old repo.

[2018-09-05 08:52] jgehrcke commented on #85
Thanks for all the feedback! That helps making decisions.

[2018-09-05 10:01] jgehrcke commented on #85
One thought: there should be an attribution to the original author in the important places (in the README, maybe in the OPM/luarocks package descriptions).

[2019-02-13 06:14] lwhile commented on #81
The OpenSSL version used by Openresty 1.13.6.2 was upgraded to 1.1.0.

Must upgrade the dependent of lua-resty-hmac.

[2019-02-13 06:22] zandbelt commented on #81
see https://github.com/SkyLothar/lua-resty-jwt/issues/85 for the alternative repo for this lib

[2019-05-25 14:54] EtachGu commented on #81
after replace hmac.lua, it works

[2019-08-07 21:26] dekimsey commented on #84
This module seems to come from [lua-resty-string](https://github.com/openresty/lua-resty-string). But luarocks is unable to install it.
[code]

[2019-08-14 03:33] dagouwang opened #88 "attempt to index local 'jwt' (a userdata value)"
I used the sample you gived and there are some information

`local jwt = require "resty.jwt"

		        local jwt_token = jwt:sign(
		            "lua-resty-jwt",
		            {
		                header={typ="JWT", alg="HS256"},
		                payload={foo="bar"}
		            }
		        )
		        ngx.say(jwt_token)`

2019/08/14 03:24:05 [error] 6#6: *4 lua entry thread aborted: runtime err

[2019-08-14 03:45] dagouwang commented on #88
I found that hmac.lua is needed to run this code.it's already done

[2019-10-30 16:01] Steven201314 opened #90 "jwt sgin err when typ is JWE"
When test this code , in openresty it aborted a error follow
`local jwt_token = jwt:sign(
        "lua-resty-jwt1",
        {
            header={typ="JWE", alg="dir" , enc = 'A128CBC-HS256'},
            payload={foo="bar"}
        }
)
ngx.print("jwt_token:")
`
`
2019/10/30 23:59:07 [error] 2369#0: *246 lua entry thread aborted: runtime error: unknown reason
stack traceback:
coroutine 0:

[2019-11-08 01:11] cdbattags commented on #90
check out the fork at https://github.com/cdbattags/lua-resty-jwt

this repo has been more or less "deprecated" by the community

[2019-11-08 01:12] cdbattags commented on #90
LuaRocks has the above fork as the main in the registry https://luarocks.org/modules/cdbattags/lua-resty-jwt

[2020-04-09 07:34] veselinovicst opened #92 "Civetweb integration"
Hello, is it possible to integrate this library into civetweb server and use it for simple token based authentication ?

[2020-05-25 11:19] feng99 opened #93 "/lua-resty-jwt/ Where is the directory?"
[code]

Use this command to install
[code]
then

 /usr/local/openresty/site/lualib/resty
[code]

and
/usr/local/openresty/lualib/resty
[code]

It's not the same as here
[https://github.com/SkyLothar/lua-resty-jwt#synopsis](https://github.com/SkyLothar/lua-resty-jwt#synopsis)
[code]

Which directory should I use?

My ultimate goal is to use this   [https://github.com/svyatogor/resty-lua-jwt](https:

[2020-05-25 15:08] feng99 commented on #93
use     /usr/local/openresty/site/lualib/resty

[2020-05-25 15:08] #93 closed, assigned to nobody

[2020-06-09 14:13] vikotham1 opened #94 "With the JWT token, server/openresty returns INVALID_JWT"
Hi,
 Thanks much for the module and example code. I have installed openresty and the dependent lua libs using opm. Also used this example guard.lua and started nginx. when I issued the command I am getting the invalid JWT error. Can you please help me what is going wrong here or what am I doing wrong? How can I debug this issue.
Thanks a lot for your help in advance.

Below is the command I have i

[2020-10-04 14:58] membphis opened #95 "[discuss] remove folder `vendor`"
We can fetch the `lua-resty-hmac` from `luarocks` or `opm` now.

So I think we can delete the folder "vendor" now.

We only need to set the correct dependency library for the specified version.

1. It is easy to use the latest version of `lua-resty-hmac`.
2. The project only contains the code maintained by us.

[2021-02-02 21:09] arberx commented on #83
Any lua solutions to this?

[2021-04-01 11:23] waynercheung opened #97 "Decode secret is not a valid cert\/public key"
Hi, I've got the "Decode secret is not a valid cert\/public key" error.
This is my code:

[code]

result:
[code]

Is there any wrong with my code ?

[2022-04-12 05:00] ChaselT opened #99 "I encountered an error while checking the token of rs256"
this is error info:
2022/04/12 12:40:47 [error] 7#7: *1 lua entry thread aborted: runtime error: /usr/local/openresty/site/lualib/resty/evp.lua:216: /usr/local/openresty/luajit/lib/libluajit-5.1.so.2: undefined symbol: EVP_MD_CTX_create
stack traceback:
coroutine 0:
        [C]: in function '__index'
        /usr/local/openresty/site/lualib/resty/evp.lua:216: in function 'verify'
        /usr/loca

[2022-04-12 08:33] #99 closed, assigned to nobody

[2022-07-09 13:50] DeathToTheStadium opened #100 "Can You Make this Compatible For Roblox Developers? i want To Use this kind Of Api To Manage Remote Events"